body{
  background-color: #548677;

font-family: 'Lato', sans-serif;
}

#baner{
  margin: 2.5%;
  width: 90%;
  height: 20%;
  border-radius: 10px;
  background-color: #799F94;
  padding: 2.5%;
  font-weight: 700;
  font-size: 100%;
}

#menu{
  float:left;
  width: 15%;
  margin: 2.5%;
  background-color: #799F94;
  border-radius: 10px;
  padding: 2.5%;
  padding-left: 0%;
}

#content{
  float: left;
  margin: 2.5%;
  background-color: #799F94;
  border-radius: 10px;
  width: 67.5%;
  padding: 2.5%;
  font-size: 150%;
}

#stopka{
  clear: both;
  margin: 2.5%;
  width: 91%;
  height: 20%;
  border-radius: 10px;
  background-color: #799F94;
  padding: 2%;
  font-weight: 700;
  font-size: 150%;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

ul{
    list-style-type: none;
}

span{
  font-weight: 700;
}

li>ul{
  display: none;
}

ul>li:hover>ul{
  display: block;
}
