body{
  background-color: #548677;

font-family: 'Lato', sans-serif;
}

#baner{
	position: fixed;
	top: 0;
	left: 0;
  width: 100vw;
	height: calc(var(--screen-y)/5);
  background: white;
  font-weight: 700;
  font-size: 100%;
}

#schoolName {
	text-align: center;
	font-size: calc(var(--screen-y)/70)
}

#logo {
	position: relative;
	width: calc(var(--screen-y)/4);
	height: calc(var(--screen-y)/5);
	top: 0;
	left: 0;
	background: white;
	float: left;
}

#logo-image {
	position: relative;
	margin: auto;
	width: 100%;
	height: 70%;
	background: url("logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center
}

#menu {
	position: absolute;
	height: calc(var(--screen-y)/20);
	right: 0;
	bottom: 0;
	left: calc(var(--screen-y)/4);
	background: black;
}

.menu {
	position: relative;
	width: calc(100%/3);
	height: 100%;
	background: orange;
	line-height: calc(var(--screen-y)/20);
	font-size: calc(var(--screen-y)/40);
	text-align: center;
	float: left;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box
}

.menu:hover .submenu {
	display: block
}

.submenu {
	position: relative;
	width: 100%;
	height: calc(var(--screen-y)/20);
	background: orange;
	outline: 1px solid black;
	display: none
}

.pageLink {
	position: relative;
	width: 70%;
	height: calc(var(--screen-y)/20);
	background: orange;
	left: 100%;
	bottom: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	display: none;
	cursor: pointer
}

.submenu:hover .pageLink {
	display: block
}

#content {
	position: absolute;
	width: 100vw;
	height: calc(100vh-calc(var(--screen-y)/5));
	top: calc(var(--screen-y)/5);
	left: 0
}